* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.box {
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 320px;
    min-width: 320px;
    height: 156px;
    background-color: pink;
    border-radius: 10px;
    overflow: hidden;
}

ul {
    left: -520px;
    width: 500%;
}

ul li {
    float: left;
    width: 20%;
}

ul li img {
    width: 100%;
}

ol {
    position: absolute;
    bottom: 5px;
    right: 5px;
    display: inline-block;
    background-color: rgba(255, 255, 255, .3);
}

ol li {
    float: left;
    background-color: red;
    width: 5px;
    height: 5px;
    border-radius: 2px;
    margin: 3px;
}

.selected {
    width: 15px;
}